{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    {% block title_block %}
        <title></title>
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img id="logo" src="{% static 'images/logo.svg' %}" alt="logo">
        </div>
        <div class="link_list">
            <a href={% url 'vote:dashboard' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Dashboard
            </a>
            <a href={% url 'vote:create_voter' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Add Voter
            </a>
            <a href={% url 'vote:voter_list' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Voters
            </a>
            <a href={% url 'vote:county_list' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Counties
            </a>
            <a href={% url 'vote:county_detail' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Add County
            </a>
            <a href={% url 'vote:constituency_list' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Constituencies
            </a>
            <a href={% url 'vote:constituency_detail' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Add Constituency
            </a>
            <a href={% url 'vote:ward_list' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Wards
            </a>
            <a href={% url 'vote:ward_detail' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Add Ward
            </a>
        </div>
    </div>
    <div id="spacer">

    </div>
    <div class="parent">
        <div class="navbar">
            <div></div>
            <div>
                {% if user.is_authenticated %}
                    <a href={% url 'vote:admin_account' %}>Hi, {{ fname }} {{ lname }}</a>
                {% endif %}
            </div>
        </div>

    {% block body_block %}

    </div>

    {% endblock %}

    <script>
        var countyObject = {
            "Nairobi": {
                "Starehe" : ['Nairobi-Central 10000001', 'Ngara 10000002','Pangani 10000003','Kariakor 10000004','Landimawe 10000005','Nairobi-South 10000006'],
                "Dagoretti North" : ['Kilimani 10000007', 'Kawangware 10000008','Gatina 10000009','Kileleshwa 10000010','Kabiro 10000011'],
                "Dagoretti South" : ['Mutuini 10000012', 'Ngando 10000013', 'Riruta 10000014', 'Uthiru 10000015', 'Waithaka 10000016'],
                "Westlands" : ['Kitusuru 10000017', 'Parklands 10000018', 'Kangemi 10000019', 'Karura 10000020', 'Mountain-View 10000021'],
                "Langata" : ['Mugumoini 10000084', 'Karen 10000022','Nairobi-West 10000023','Nyayo-Highrise 10000024','South-C 10000025'],
                "Kibra" : ['Laini-Saba 10000026', 'Lindi 10000027','Makina 10000028','Sarangombe 10000029'],
                "Roysambu" : ['Githurai 10000030', 'Kahawa-West 10000031','Zimmerman 10000032','Roysambu 10000033','Kahawa 10000034'],
                "Kasarani" : ['Clay-City 10000035', 'Mwiki 10000036','Kasarani 10000037','Njiru 10000038','Ruai 10000039'],
                "Ruaraka" : ['Baba-Dogo 10000040', 'Utalii 10000041','Mathare-North 10000042','Lucky-Summer 10000043','Korogocho 10000085'],
                "Embakasi South" : ['Imara-Daima 10000044', 'Kwa-Njenga 10000045','Kwa-Reuben 10000046','Pipeline 10000047','Kware 10000048'],
                "Embakasi North" : ['Kariobangi-North 10000049', 'Dandora-Area-1 10000050','Dandora-Area-2 10000051','Dandora-Area-3 10000052','Dandora-Area-4 10000053'],
                "Embakasi Central" : ['Kayole-North 10000054', 'Kayole-Central 10000055','Kayole-South 10000056','Komarock 10000057','Matopeni/Spring-Valley 10000058'],
                "Embakasi East" : ['Upper-Savannah 10000059', 'Lower-Savannah 10000060','Embakasi 10000061','Utawala 10000062','Mihango 10000063'],
                "Embakasi West" : ['Umoja-1 10000064', 'Umoja-2 10000065','Mowlem 10000066','Kariobangi-South 10000067','Maringo-Hamza 10000068'],
                "Makadara" : ['Harambee 10000069', 'Viwandani 10000070','Makongeni 10000071','Pumwani 10000072','Eastleigh-North 10000073'],
                "Kamukunji" : ['Eastleigh-South 10000074', 'Airbase 10000075','Carlifonia 10000076','Ngara 10000077','Nairobi-Central 10000078'],
                "Mathare" : ['Mabatini 10000079', 'Huruma 10000080','Ngei 10000081','Mlango-Kubwa 10000082','Kiamaiko 10000083']
            }
        }
        window.onload = function () {
            var countySel = document.getElementById("county");
            var constituencySel = document.getElementById("constituency");
            var wardSel = document.getElementById("ward_code");
            for (var x in countyObject) {
                countySel.options[countySel.options.length] = new Option(x, x);
            }
            countySel.onchange = function () {
                console.log("wewe");
                constituencySel.length = 1;
                wardSel.length = 1;
                for (var y in countyObject[this.value]) {
                    constituencySel.options[constituencySel.options.length] = new Option(y, y);
                }
            }
            constituencySel.onchange = function () {
                wardSel.length = 1;
                var z = countyObject[countySel.value][this.value];
                for (var i = 0; i < z.length; i++) {
                    var name = z[i].split(" ")[0]
                    var value = z[i].split(" ")[1]
                    wardSel.options[wardSel.options.length] = new Option(name, value);
                }
            }
        }
    </script>

</body>
</html>