{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Admin Base</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img id="logo" src="{% static 'images/logo.svg' %}" alt="logo">
        </div>
        <div class="link_list">
            <a href={% url 'vote:dashboard' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Dashboard
            </a>
            <a href={% url 'vote:voter_list' %}>
                <img id="icon" src="{% static 'images/vote_icon.svg' %}" alt="icon">Voters
            </a>
            <a href={% url 'vote:county_list' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Counties
            </a>
            <a href={% url 'vote:county_detail' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">County Detail
            </a>
            <a href={% url 'vote:constituency_list' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Constituencies
            </a>
            <a href={% url 'vote:ward_list' %}>
                <img id="icon" src="{% static 'images/location_icon.svg' %}" alt="icon">Wards
            </a>
        </div>
    </div>
    <div id="spacer">

    </div>
    <div class="parent">
        <div class="navbar">
            <div></div>
            <div>
                {% if user.is_authenticated %}
                    Hi, {{ fname }} {{ lname }}
                {% endif %}
                <img src="{% static 'images/dropdown.svg' %}" alt="drop">
            </div>
        </div>

        {% for message in messages %}
            <div role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <br>
        <button type="submit"><a href={% url 'vote:log_out' %}> Logout </a></button>
        <br>
        {% block body_block %}

        {% endblock %}

    </div>
</body>
</html>