{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Constituency List</title>
{% endblock %}

{% block body_block %}
    <table class="table">
        <thead>
            <tr class="table-row">
                <th class="head-item">CODE</th>
                <th class="head-item">NAME</th>
                <th class="head-item">COUNTY</th>
                <th class="head-item"></th>
                <th class="head-item"></th>
            </tr>
        </thead>
        <tbody>
        {% for constituency in constituency %}
            <tr class="table-row">
                <td class="cell">{{ constituency.constituency_code }}</td>
                <td class="cell">{{ constituency.constituency_name }}</td>
                <td class="cell">{{ constituency.county_code }}</td>
                <td class="cell" id="table1"><a class="action2" href="{% url 'vote:update_constituency' constituency.constituency_code %}">Update</a></td>
                <td class="cell" id="table1"><a class="action" href="{% url 'vote:delete_constituency' constituency.constituency_code %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
