{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Voter Detail</title>
{% endblock %}

{% block body_block %}

    <form action="" method="post">
        <div class="form">
            <p>Personal Details</p>
            {% csrf_token %}
            <div class="fieldWrapper_group">
                <div class="fieldWrapper2">
                    <label for="id_serial_number">ID Serial Number</label>
                    <input class="input" type="text" name="id_serial_number" maxlength="8" id="id_serial_number" required>
                </div>

                <div class="spacer"></div>

                <div class="fieldWrapper2">
                    <label for="first_name">First Name</label>
                    <input class="input" type="text" name="first_name" maxlength="254" id="first_name" required="">
                </div>
            </div>

            <div class="fieldWrapper_group">
                <div class="fieldWrapper2">
                    <label for="middle_name">Middle Name</label>
                    <input class="input" type="text" name="middle_name" maxlength="254" required="" id="middle_name">
                </div>

                <div class="spacer"></div>

                <div class="fieldWrapper2">
                    <label for="surname">Last Name</label>
                    <input class="input" type="text" name="surname" maxlength="254" id="surname" required="">
                </div>
            </div>

            <div class="fieldWrapper_group">
                <div class="fieldWrapper2">
                    <label for="phone_number">Phone Number</label>
                    <input class="input" type="text" name="phone_number" maxlength="10" id="phone_number" required="">
                </div>

                <div class="spacer"></div>

                <div class="fieldWrapper2">
                    <label for="gender">Gender</label>
                    <select class="input" name="gender" id="gender" required>
                        <option value="" selected=""></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="fieldWrapper_group">
                <div class="short">
                    <label for="email">Email Address</label>
                    <input type="text" name="email" maxlength="254" id="email" required>
                </div>
            </div>
        </div>

        <div class="form">
            <p>Location Details</p>
            <div class="fieldWrapper_group">
                <div class="fieldWrapper2">
                    <label for="county">County</label>
                    <select class="input" name="county" id="county" required>
                        <option value="" selected="selected">Select County</option>
                    </select>
                </div>

                <div class="spacer"></div>

                <div class="fieldWrapper2">
                    <label for="constituency">Constituency</label>
                    <select class="input" name="constituency" id="constituency" required="">
                        <option value="" selected="selected"> Select County first</option>
                    </select>
                </div>
            </div>

            <div class="fieldWrapper_group">
                <div class="short">
                    <label for="ward_code">Ward</label>
                    <select class="input" name="ward_code" id="ward_code" required>
                        <option value="" selected="selected">Select Constituency first</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form">
            <p>Photo</p>
            <div class="fieldWrapper">
                <input class="file" type="file" name="image" accept="image/*" id="image">
                <img id="output" src="{% static 'images/user.svg' %}" alt="default"/>
            </div>
        </div>

        <div class="button-group">
            <input class="submit" type="reset" value="CANCEL CHANGES">
            <input id="submit2" type="submit" value="SUBMIT"/>
        </div>
    </form>

{% endblock %}
