{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Dashboard</title>
{% endblock %}

{% block body_block %}
    <div class="tab-parent">
        <div class="tab-group">
            <div class="tab">
                <span>{{ total }}</span>
                Registered Voters
            </div>

            <div class="tab">
                <span>10</span>
                Targeted Voters
            </div>

            <div class="tab">
                <span>{{ threshold }} %</span>
                Threshold
            </div>
        </div>

        <div class="tab-group">
            <div class="tab">
                <span>256</span>
                Days to Election
            </div>

            <div class="tab">
                <span>0</span>
                Voters registered today
            </div>

            <div class="tab">
                <span>2</span>
                Voters registered this month
            </div>
        </div>

        <div class="tab-group">
            <div class="tab">
                <span>24</span>
                Most voters in one county
            </div>

            <div class="tab-large">
                <span>Nairobi</span>
                County with the most registered voters
            </div>
        </div>
    </div>
{% endblock %}

