<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
    {% for message in messages %}
        <div role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <br>
    <br>
    <button type="submit"><a href={% url 'vote:login' %}> Login </a></button>
    <button type="submit"><a href={% url 'vote:signup' %}> Signup </a></button>

</body>
</html>