{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Voter List</title>
{% endblock %}

{% block body_block %}

    <table class="table-long">
        <thead>
            <tr class="table-row">
                <th class="head-item">ID SERIAL NUMBER</th>
                <th class="head-item">NAME</th>
                <th class="head-item">PHONE NUMBER</th>
                <th class="head-item">GENDER</th>
                <th class="head-item">EMAIL</th>
                <th class="head-item">WARD</th>
{#                <th class="head-item"></th>#}
            </tr>
        </thead>
        <tbody>
        {% for voter in voter %}
            <tr class="table-row">
                <td class="cell">{{ voter.id_serial_number }}</td>
                <td class="cell">{{ voter.first_name }} {{ voter.middle_name }} {{ voter.surname }}</td>
                <td class="cell">{{ voter.phone_number }}</td>
                <td class="cell">{{ voter.gender }}</td>
                <td class="cell">{{ voter.email.email }}</td>
                <td class="cell">{{ voter.ward_code }}</td>

{#                <td class="image-cell">#}
{#                    <img class="image" src="{{ voter.photo.url }}" alt="photo">#}
{#                </td>#}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
