{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Ward Detail</title>
{% endblock %}

{% block body_block %}

    <form method="post" action="/vote/ward_detail">
        {% csrf_token %}
        <div class="form">
            <p>Ward</p>
            <div class="fieldWrapper_group">
                <div class="fieldWrapper2">
                    <label for="id_ward_code">Ward Code</label>
                    <input class="input" type="text" name="ward_code" maxlength="8" id="id_ward_code" required>
                </div>

                <div class="spacer"></div>

                <div class="fieldWrapper2">
                    <label for="id_ward_name">Ward Name</label>
                    <input class="input" type="text" name="ward_name" maxlength="254" id="id_ward_name" required>
                </div>

            </div>

            <div class="fieldWrapper_group">
                <div class="short">
                    <label for="id_constituency_code">Constituency</label>
                    <select class="input" name="constituency_code" id="id_constituency_code" required>
                        <option value="" selected=""></option>
                        {% for constituency in constituency %}
                            <option value={{ constituency.constituency_code }}>{{ constituency.constituency_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

    </div>

    <div class="button-group">
        <input type="reset" class="submit" value="CANCEL CHANGES">
        <input id="submit2" type="submit" value="SUBMIT"/>
    </div>

    </form>

{% endblock %}
