{% extends 'vote/admin/admin_base.html' %}
{% load static %}
{% block title_block %}
    <title>Voter List</title>
{% endblock %}

{% block body_block %}

    <table class="table-long">
        <thead>
            <tr class="table-row">
                <th class="head-item">CODE</th>
                <th class="head-item">WARD NAME</th>
                <th class="head-item">NO. OF VOTERS</th>
                <th class="head-item">CONSTITUENCY</th>
                <th class="head-item">COUNTY</th>
                <th class="head-item"></th>
                <th class="head-item"></th>
            </tr>
        </thead>
        <tbody>
            {% for ward in ward %}
                <tr class="table-row">
                    <td class="cell">{{ ward.ward_code }}</td>
                    <td class="cell">{{ ward.ward_name }}</td>
                    <td class="cell">{{ ward.voter_set.count }}</td>
                    <td class="cell">{{ ward.constituency_code }}</td>
                    <td class="cell">{{ ward.constituency_code.county_code }}</td>
                    <td class="cell" id="table1"><a class="action2" href="{% url 'vote:update_ward' ward.ward_code %}">Update</a></td>
                    <td class="cell" id="table1"><a class="action" href="{% url 'vote:delete_ward' ward.ward_code %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
