{% extends 'vote/base.html' %}
{% load static %}
{% block title_block %}
    <title>Location Data</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">
        <div class="title">
            Step 2 of 4: Location Data
        </div>
        <div class="stepper">
            <img class="icon" src="{% static 'images/check.svg' %}" alt="current">
            <div class="separator"></div>
            <img class="icon" src="{% static 'images/current.svg' %}" alt="circle">
            <div class="separator"></div>
            <img class="icon" src="{% static 'images/circle.svg' %}" alt="circle">
            <div class="separator"></div>
            <img class="icon" src="{% static 'images/circle.svg' %}" alt="circle">
        </div>

        <div class="content">
            Kindly fill up the following fields as correctly and accurately as possible.
        </div>
        <div class="content">
            Please note that providing false information is a crime punishable by law.
        </div>
        <div class="formWrapper">
            <div class="form">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="id_County">County</label>
                        <select class="input" name="county" required="" id="id_County">
                            <option value="" selected=""></option>
                            <option value="648641">Nairobi</option>
                            <option value="265484">Kiambu</option>
                            <option value="265484">Kajiado</option>
                        </select>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="id_Constituency">Constituency</label>
                        <select class="input" name="constituency" required="" id="id_Constituency">
                            <option value="" selected=""></option>
                            <option value="648641">Male</option>
                            <option value="265484">Female</option>
                            <option value="265484">Other</option>
                        </select>
                    </div>

                    <div class="fieldWrapper">
                        {{ form.subject.errors }}
                        <label for="id_ward">Ward</label>
                        <select class="input" name="ward" required="" id="id_ward">
                            <option value="" selected=""></option>
                            <option value="648641">Male</option>
                            <option value="265484">Female</option>
                            <option value="265484">Other</option>
                        </select>
                    </div>

                    <div class="button-group">
                        <a class="submit" href={% url 'vote:bio' %}>BACK</a>
                        <input id="submit2" type="submit" value="SUBMIT"/>
                        <a class="submit" href={% url 'vote:location' %}>NEXT</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
