{% extends 'vote/base.html' %}
{% load static %}
{% block title_block %}
    <title>Success</title>
{% endblock %}

{% block body_block %}
    <div class="parent">
        <div class="banner-container">
            <img class="banner" src="{% static 'images/Banner.svg' %}" alt="logo">
        </div>
{#        <div class="title">#}
{#            SUCCESS!#}
{#        </div>#}

        <div class="content">
            You have been successfully registered into the National Voting Roll.
        </div>
        <div class="content">
            For more details about the voting process visit https://iebc.gov.ke
        </div>
        <div class="content">
            Good luck in the election
        </div>
        <div class="button-container">
            <a class="submit2" href="/">
                BACK TO HOME SCREEN
            </a>
        </div>
    </div>

{% endblock %}
