*{
    padding: 0;
    margin: 0;
}

html,body{
    height:auto;
}

#spacer{
    width: 20%;
}

.sidebar{
    width: 20%;
    height: 100%;
    background-color: #171154;
    position: fixed;
}

.sidebar .logo{
    display: flex;
    justify-content: center;
}

.sidebar .link_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar .link_list a{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 16px;
    margin-right: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar #logo{
    height: 80px;
    width: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#icon{
    width: 25px;
    height: 25px;
    margin-right: 16px;
}

body{
    display: flex;
}

.parent{
    width: 80%;
    background-color: #FBFBFB;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-family: Inter, sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #FFFFFF;
}

.navbar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 16px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.navbar div{
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.navbar img{
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.tab-parent{
    padding-top: 24px;
}

.tab-group{
    display: flex;
    margin-left: 64px;
    margin-bottom: 40px;
}

.tab{
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: Inter, sans-serif;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.tab span{
    font-size: 36px;
    margin-bottom: 8px;
    font-family: Inter, sans-serif;
    display: block;
}

.tab-large{
    background-color: #FFFFFF;
    width: 320px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.tab-large span{
    font-size: 36px;
    margin-bottom: 8px;
    font-family: Inter, sans-serif;
    display: block;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 40px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
}

.search div{
    display: flex;
    font-size: 16px;
}

.search #search{
    margin-left: 12px;
    margin-right: 16px;
}

.search #dropdown{
    margin-right: 12px;
}

.search input{
    width: 224px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.table{
    table-layout: auto;
    border: solid 1px #E5E7EB;
    border-radius: 8px;
    border-collapse: collapse;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    background-color: #FFFFFF;
}

.table-long{
    table-layout: auto;
    border: solid 1px #E5E7EB;
    border-radius: 8px;
    border-collapse: collapse;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    background-color: #FFFFFF;
}

.table-head-row{
    border-bottom-width: 1px;
    text-align: left;
    display: table-row;
}

.table-row{
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E5E7EB;
}

.head-item{
    text-align: left;
    color: #6B7280;
    background-color: #F9FAFB;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
}

.cell{
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    align-items: center;
    color: #111827;
}

.image-cell{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    color: #111827;
    justify-items: center;
}

.image{
    height: 100px;
}

.form{
    margin: 40px;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.form p{
    font-family: Lato, sans-serif;
    width: 100%;
    color: #171154;
    font-size: 24px;
    margin-bottom: 32px;
}

.fieldWrapper_group{
    display: flex;
    justify-content: space-between;
}

.fieldWrapper2{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-bottom: 16px;
}

.fieldWrapper3{
    display: flex;
    width: 60%;
    margin-bottom: 16px;
}

.short{
    display: flex;
    width: 48%;
    flex-direction: column;
    margin-bottom: 16px;
    font-family: Lato, sans-serif;
    border-radius: 6px;
}

.short input{
    font-family: Lato, sans-serif;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.short select{
    font-family: Lato, sans-serif;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.short label{
    font-family: Lato, sans-serif;
    width: 40%;
    margin-bottom: 16px;
}

.fieldWrapper2 p{
    font-family: Lato, sans-serif;
    width: 60%;
    color: #171154;
    font-size: 24px;
    margin-bottom: 40px;
}

.fieldWrapper2 label{
    font-family: Lato, sans-serif;
    width: 40%;
    margin-bottom: 16px;
}

.fieldWrapper3 label{
    font-family: Lato, sans-serif;
    width: 40%;
    margin-bottom: 16px;
}

.fieldWrapper2 .input{
    font-family: Lato, sans-serif;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.fieldWrapper2 #output{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin-top: 64px;
    margin-bottom: 64px;
    background-color: #F1F1F5;
}

.fieldWrapper2 select{
    font-family: Lato, sans-serif;
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.spacer{
    width: 48px;
}

.fieldWrapper{
    display: flex;
    flex-direction: column;
}

.fieldWrapper #output{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 24px;
    margin-top: 32px;
    background-color: #F1F1F5;
}

.button-group{
    display: flex;
    justify-content:space-between;
    padding-top: 24px;
    width: 78%;
    margin: 40px;
}

.submit{
    font-size: 16px;
    padding: 12px 36px;
    width: auto;
    height: auto;
    color: #000000;
    background-color: #D1CFDD;
    border: 1px solid #D1D5DB;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

.action{
    font-size: 12px;
    padding: 8px 16px;
    width: auto;
    height: auto;
    color: #000000;
    background-color: #D1CFDD;
    border: 1px solid #D1D5DB;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

.action2{
    font-size: 12px;
    padding: 8px 16px;
    width: auto;
    height: auto;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DB;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

.submit2, #submit2{
    font-size: 16px;
    width: auto;
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #171154;
    border: 1px solid #D1D5DB;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
}
