{% extends 'vote/user/base.html' %}
{% load static %}
{% block title_block %}
    <title>Check Status</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">
        <div class="title">
            View Registration Details
        </div>

        <div class="content2">
            <div>
                To check your registration details, please input the following details
            </div>
        </div>

        <div class="content2">
            <div>
                Please note that submitting false information is punishable by Kenyan law
            </div>
        </div>

        <div class="formWrapper">
            <div class="form">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="id_serial_number">ID Serial Number</label>
                        <input class="input" type="text" name="id_serial_number" maxlength="10" required="" id="id_serial_number">
                    </div>

                    <div class="fieldWrapper">
                        <label for="email">Email</label>
                        <input class="input" type="text" name="email" maxlength="254" required="" id="email">
                    </div>

                    <div class="button-group">
                        <input type="reset" class="submit" value="CLEAR">
                        <input id="submit2" type="submit" value="NEXT"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
<a href={% url 'vote:auth2' %}>NEXT</a>
{% endblock %}
