{% extends 'vote/user/base.html' %}
{% load static %}
{% block title_block %}
    <title>Location Data</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">
        <div class="title">
            Step 2 of 4: Location Data
        </div>
        <div class="stepper">
            <img class="icon" src="{% static 'images/check.svg' %}" alt="current">
            <div class="separator"></div>
            <img class="icon" src="{% static 'images/current.svg' %}" alt="circle">
            <div class="separator"></div>
            <img class="icon" src="{% static 'images/circle.svg' %}" alt="circle">
            <div class="separator"></div>
            <img class="icon" src="{% static 'images/circle.svg' %}" alt="circle">
        </div>

        <div class="content">
            Kindly fill up the following fields as correctly and accurately as possible.
        </div>
        <div class="content">
            Please note that providing false information is a crime punishable by law.
        </div>

        <div class="formWrapper">
            <div class="form">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="county">County</label>
                        <select class="input" name="county" id="county" required>
                            <option value="" selected="selected">Select County</option>
                        </select>
                    </div>

                    <div class="fieldWrapper">
                        <label for="constituency">Constituency</label>
                        <select class="input" name="constituency" id="constituency" required="">
                            <option value="" selected="selected"> Select County first</option>
                        </select>
                    </div>

                    <div class="fieldWrapper">
                        <label for="ward">Ward</label>
                        <select class="input" name="ward_code" id="ward_code" required="">
                            <option value="" selected="selected"> Select Ward first</option>
                        </select>
                    </div>

                    <div class="button-group">
                        <input type="reset" class="submit" value="CLEAR">
                        <input id="submit2" type="submit" value="SUBMIT"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{#<a href={% url 'vote:photo' %}>NEXT</a>#}
{% endblock %}
