{% extends 'vote/user/base.html' %}
{% load static %}
{% block title_block %}
    <title>Update Details Auth</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">

        <div class="content2">
            {% for message in messages %}
                <div class="message">
                    <h3>Error:</h3> {{ message }}
                </div>
            <br>
            {% endfor %}
        </div>

        <div class="title2">
            Update Registration Details
        </div>

        <div class="content2">
            <div>
                To update your registration details, please input the following details
            </div>
        </div>

        <div class="content2">
            <div>
                Please note that submitting false information is punishable by Kenyan law
            </div>
        </div>

        <div class="formWrapper">
            <div class="form">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="id_serial_number">ID Serial Number</label>
                        <input class="input" type="text" name="id_serial_number" maxlength="10" required="" id="id_serial_number">
                    </div>

                    <div class="button-group">
                        <a class="submit" href={% url 'vote:index' %}> BACK </a>
                        <input id="submit2" type="submit" value="NEXT"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
