{% extends 'vote/user/base.html' %}
{% load static %}
{% block title_block %}
    <title>Update Details</title>
{% endblock %}

{% block body_block %}
    <div class="parent2">
        <div class="title">
            Update Details
        </div>

        <div class="content2">
            <div>
                Kindly ensure that all details filled below are correct and accurate.
            </div>
        </div>
        <div class="content2">
            <div>
                Please note that providing false information is a crime punishable by law.
            </div>
        </div>
        <div class="formWrapper">
            <div class="form">
                <p>Personal Details</p>
                <form action="" method="post">
                {% csrf_token %}
                    <div class="fieldWrapper_group">
                        <div class="fieldWrapper2">
                            <label for="id_serial_number">ID Serial Number</label>
                            <input class="input" type="text" name="id_serial_number" maxlength="10" id="id_serial_number" value="{{voter.id_serial_number}}" readonly>
                        </div>

                        <div class="spacer"></div>

                        <div class="fieldWrapper2">
                            <label for="first_name">First Name</label>
                            <input class="input" type="text" name="first_name" maxlength="254" id="first_name" value="{{voter.first_name}}" readonly>
                        </div>
                    </div>

                    <div class="fieldWrapper_group">
                        <div class="fieldWrapper2">
                            <label for="middle_name">Middle Name</label>
                            <input class="input" type="text" name="middle_name" maxlength="254" id="middle_name" value="{{voter.middle_name}}" readonly>
                        </div>

                        <div class="spacer"></div>

                        <div class="fieldWrapper2">
                            <label for="last_name">Last Name</label>
                            <input class="input" type="text" name="last_name" maxlength="254" id="last_name" value="{{voter.surname}}" readonly>
                        </div>
                    </div>

                    <div class="fieldWrapper_group">
                        <div class="fieldWrapper2">
                            <label for="phone_number">Phone Number</label>
                            <input class="input" type="text" name="phone_number" maxlength="10" id="phone_number" value="{{voter.phone_number}}" required>
                        </div>

                        <div class="spacer"></div>

                        <div class="fieldWrapper2">
                            <label for="gender">Gender</label>
                            <input class="input" type="text" name="gender" maxlength="10" id="gender" value="{{voter.gender}}" readonly>
                        </div>
                    </div>
            </div>
        </div>
        <div class="formWrapper">
            <div class="form">
                <p>Location Details</p>
                    <div class="fieldWrapper_group">
                        <div class="fieldWrapper2">
                            <label for="county">County</label>
                            <select class="input" name="county" required="" id="county">
                                <option value=""></option>
                                <option value="047">Nairobi</option>
                                <option value="005">Tana River</option>
                                <option value="045">Vihiga</option>
                                <option value="001">Mombasa</option>
                            </select>
                        </div>

                        <div class="spacer"></div>

                        <div class="fieldWrapper2">
                            <label for="constituency">Constituency</label>
                            <select class="input" name="constituency" required="" id="constituency">
                                <option value=""></option>
                                <option value="00000005">Hola</option>
                                <option value="00000004">Embakasi West</option>
                                <option value="00000003">Makadara</option>
                                <option value="00000002">Kisauni</option>
                                <option value="00000001">Mvita</option>
                            </select>
                        </div>
                    </div>

                    <div class="fieldWrapper_group">
                        <div class="fieldWrapper2">
                            <label for="ward">Ward</label>
                            <select class="input" name="ward" required="" id="ward">
                                <option value=""></option>
                                <option value="91032732">Old Town</option>
                                <option value="12121212">Maringo</option>
                                <option value="11111111">Hamza</option>
                                <option value="00000001">Hola Township</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>

        <div class="formWrapper">
            <div class="form">
                <div class="fieldWrapper">
                    <label for="photo">Photo</label>
                    <input type="file" name="photo" class="input" accept="image/*" onchange="loadFile(event)" value="{{ voter.photo }}" required>
                    <img id="output" src="{% static 'images/user.svg' %}" alt="placeholder"/>

{#                    <img id="output" src="KuraProject{{ voter.photo.url }}" alt="placeholder"/>#}
{#                    {{ voter.photo.url }}#}
                    <input type="reset" value="Remove Photo">
                </div>
            </div>
        </div>

                <div class="button-parent">
                    <div class="button-group2">
                        <a class="submit" href={% url 'vote:bio' %}>BACK</a>
                        <input id="submit2" type="submit" value="SUBMIT DETAILS"/>
                    </div>
                </div>
                </form>
            </div>

{% endblock %}
